body {
    font-family: Arial, sans-serif;
    text-align: center;
}


.aaa {
    display: flex;
    align-items: center; /* Центрирует изображения по вертикали */ 
}

.aaa img {
    max-width: 300px; /* Ограничивает ширину изображений */
    height: auto; /* Сохраняет пропорции изображений */
    margin: 10px; /* Отступы между изображениями */


}

.b1 {
    display: flex;
    align-items: center; /* Центрирует изображения по вертикали */ 
}

.b1 img{
    max-width: 400px; /* Ограничивает ширину изображений */
    height: auto; /* Сохраняет пропорции изображений */
    margin: 10px; /* Отступы между изображениями */
}

.b2 {
    display: flex;
    align-items: center; /* Центрирует изображения по вертикали */ 
}

.b2 img{
    max-width: 100%; /* Ограничивает ширину изображений */
    height: auto; /* Сохраняет пропорции изображений */
    margin: 10px; /* Отступы между изображениями */
}

.tt {
    display: flex;
    align-items: center; /* Центрирует изображения по вертикали */ 
   
}

.tt img{
    max-width: 100%; /* Ограничивает ширину изображений */
    height: auto; /* Сохраняет пропорции изображений */
    margin: 10px; /* Отступы между изображениями */
}